:root {
  --color-primary: #a33a3a;
  --color-primary-muted:#e2d8d5;
  --color-secondary: #c4b0a0;
  --color-secondary-medium: #a57e5f;
  --color-secondary-dark: #693e1c;
  --color-accent: #6b6766;
  --color-accent-secondary: rgba(163, 58, 58, .3);
  --color-accent-tertiary: #f4ebe9;
  --color-accent-black: #000;
  --font-primary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary);
  font-weight: 600;
}

h2,
h3,
h5,
h6 {
  color: var(--color-accent);
  font-weight: 400;
}

h4 {
  color: var(--color-accent);
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--color-secondary-dark);
}

.link-primary {
  text-decoration: none;
  color: var(--color-secondary-dark);
}

.link-secondary {
  text-decoration: none;
  color: var(--color-primary);
}

ul, li
ol, li {
  list-style: none;
  text-decoration: none;
  color: var(--color-secondary-dark);
}

dl, dt, dd {
  list-style: none;
  color: var(--color-accent);
}

blockquote,
cite,
em,
strong,
del,
ins,
abbr,
dfn,
i,
b,
s,
u {
  color: var(--color-accent);
}

mark  {
  background-color: var(--color-primary-muted);
  color: var(--color-accent);
}

q {
  color: var(--color-accent);
  font-weight: 500;
}

.light-text {
  color: var(--color-secondary-medium);
}
