.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-primary-muted);
}

.btn:hover {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
  color: var(--color-primary-muted);
}
