<header role="banner" tabindex="0">
  <nav class="island" id="nav">
    <ul id="nav-ul" class="text-center push-0">
      <li><a href="#" aria-label="Wick It logo"><i class="logo icon i-small-logo"><img src="/images/logo-32.svg" alt=""></i></a></li>
      <li class="island-1-4"><a class="nav-btn {% if page.highlight_nav == 'index' %}nav-current{% endif %}" href="/index/">home</a></li>
      <li class="island-1-4"><a class="nav-btn {% if page.highlight_nav == 'products' %}nav-current{% endif %}" href="/products/">shop</a></li>
      <li><a href="#" aria-label="Wick It logo"><i class="icon i-logo"><img src="/images/logo.svg" alt=""></i></a></li>
      <li class="island-1-4"><a class="nav-btn {% if page.highlight_nav == '' %}nav-current{% endif %}" href="#">candles</a></li>
      <li class="island-1-4"><a class="nav-btn {% if page.highlight_nav == '' %}nav-current{% endif %}" href="#">wax melts</a></li>
    </ul>
  </nav>
</header>
