/* .unit-increment {
  display: flex;
  list-style-type: none;
  align-items: stretch;
} */

.unit-increment > li::before {
    content: none;
}

.input-number {
  height: 3em;
  text-align: center;
  float: left;
  width:
}

.border-li {
  border: 2px solid var(--color-accent);
  float: left;
  width:
}

/*The code below is for JS*/

.flag-optional {
  color: #999;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted {
  background-color: #c33;
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}
