.candle-product-card {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
}


.candle-product-card:hover {
  background-color: var(--color-accent-secondary);
  border: 2px solid var(--color-accent-secondary);
}

.candle-card {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
}


.candle-card:hover {
  background-color: var(--color-accent-secondary);
  border: 2px solid var(--color-accent-secondary);
}

.cart-card {
  background-color: var(--color-accent-tertiary);
  border: 2px solid var(--color-accent);
}

.cart-card h2 {
  font-weight: 600;
}

.cart-item {
  font-weight: 500;
}

.cart-card p {
  color: var(--color-accent);
}

hr {
  border: 1px solid var(--color-accent);
}
