.homepage-banner {
  background-image: url("../../images/banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.text-position {
  top: 0;
  left: 0;
  max-width: 26em;
  width: 100%;
}
